@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

* {
    font-family: 'Urbanist', sans-serif;
    color:blue;
}

@media (max-width: 480px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 20px;
    }
}

.container {
    display: flex;
    align-items:centre;
}